/* Variables */
:root {
  --body-bg: #FCF6F1; 
  --primary: #FFA555; 
	--text-dark: #2A363B; 
	--text-light: #eee; 
}
/* Typo */
html {
  font-family: "Ubuntu";
  font-size: 137.5%;
	-webkit-font-smoothing: antialiased;
	color: var(--text-dark)
}
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
h1,
h2,
h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
	margin-top: 3rem;
	color: var(--primary);
	text-align: center;
}
h2 {
  font-family: "Droid Serif";
  font-size: 1.414rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3 {
	font-size: 0.4713333333333333rem;
}
a {
  color: var(--text-dark);
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}
/*ELements and Layout*/
body {
  background: var(--body-bg);
}
.wrap {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header{
	padding: 1rem;
}
.article {
  margin-bottom: 1rem;
	min-height: 20vh;
	padding-left: 1rem;
	border-left:0.2rem solid var(--primary);

}
.comment {
	padding: 1rem;
	margin-bottom: 1rem;
	border: dotted 0.06rem var(--text-dark)
}
.sentinel {
  width: 0;
  height: 0;
}
.btn-comments-loader {
  background: var(--primary);
	border: none;
  padding: 0.6rem 1rem;
	text-align: center;
	color: var(--text-light);
	font-size: 0.4713333333333333rem;
	font-weight: bold;
	float: right;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
